* {
	padding: 0;
	margin: 0;
}

.admin-console {
	position: relative;
}

/*******************************
Form Styles
*******************************/

.general-form {
	background: gray;
	border-radius: 5px;
	padding: 10px;
}

.white-form {
	background: white;
	padding: 10px;
}

.form-control {
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	box-shadow: none;
}
.input-correct {
	background-image: url(../images/admin/checkmark.png);
}

.input-wrong {
	background-image: url(../images/admin/x.png);
}


/*********************
Admin Navbar
***********************/


.navigational-bar {
	height: 45px;
	margin:0;
	background: #16a085;
}

.navigational-bar .title {
	padding-top: 10px;
	padding-left: 5px;
	height: 45px;
	width: 75px;
	
}

.navigational-bar .title a {
	color: white;
	font-size: 1.5em;
}
.navigational-bar .title:hover {
	background: #1abc9c;
	transition: background 0.5s;
}
.navigational-bar .user-image img {
	height: 35px;
	width: 35px;
	padding-top: 5px;
	float:right;
}

.navigational-bar .user-image img:hover {
	cursor:pointer;
	opacity: 0.8;
}

.navigational-bar .user-name {
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: 600;
	float:right;
	padding-right:10px;
	height: 45px;
}

.navigational-bar .user-name:hover {
	background: #1abc9c !important;
	transition: background 0.5s !important;	
}

.navigational-bar .user-name a {
	color: white;
}


@media (max-width:768px){
	.navigational-bar {
		height: 90px;
		text-align: center;
	}
	

}

@media (max-width: 300px) {
	.navigational-bar .user-image img {
		position: absolute;
		opacity:0;
		z-index:-99;
	}
}

/*******************
Admin Panel
**********************/

.admin-panel {
	background: #3b3b3b;
	padding: 0;
	min-height: 100vh;
}

@media (max-width: 768px){
	.admin-panel {
		min-height: 0vh;
	}
}

.admin-option {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #666666;
	width: 100%;
	padding-left: 5px;
	transition: 0.2s;
	color: #bdc3c7;
}

.admin-option.active{
	background:black;
	color:white;
}

.admin-option:hover {
	background: black;
	color: white;
	cursor: pointer;
}

.admin-option span {
	font-family: ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.admin-option img {
	vertical-align: middle;
	height: 20px;
}


/*************
Admin Console
*************/

.spinner-container {
	padding-top: 14em;
}

/***************
Post Manager
****************/

.add-post-container {
	padding-top: 3em;
}

.add-post-container textarea {
	color: black;
	width: 100%;
	height: 300px;
}

#add-post-toolbar {
	color: black;
}

#add-post-toolbar img {
	width: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

#add-post-toolbar img:hover {
	border-color: #666666;
}

.blog-post-container {
	width: 100%;
	padding-top:2em;
}

.blog-post-header {
	background: #2980b9;
	font-size: 1.2em;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom:0.5em;
}

.blog-post {
	background: #bdc3c7;
	color: #555555;
}

.blog-post.white {
	background: #ecf0f1;
}

.blog-post .date {
	font-style: italic;
}

.blog-post .title {
	font-size: 1.2em;
}

.blog-post span {
	margin-top: 15px;
	font-size: 2em;
}

.post-preview {
	color: black !important;
}

/****************
Twitter
*****************/

.twitter-container {
	padding-top:3em;
}

.admin-twitter-description {
	color: #666666;
}

.twitter-container .add-twitter {
	width: 100%;
}

.add-twitter input {
	width: 70%;
	float:left;
	border-radius: 15px;
}


.add-twitter p {
	width: 10%;
	font-size: 1.6em;
	color: #4099FF;
}

.add-twitter button {
	width: 20%;
	font-weight: 600;
	border-radius: 15px;
}

.twitter-user {
	position: relative;
	border-radius: 15px;
	height: 30px;
	width: 130px;
	line-height:30px;
	font-weight: 600;
	transition: background 0.2s;
	overflow:hidden;
}

.twitter-user p {
	z-index:-99;
	background: #4099FF;
}

.twitter-user div {
	position: absolute;
	right: 100%;
	top:0%;
	transition: right 0.5s;
	background: #c0392b;
	width: 100%;
	border-radius: 15px;
}

.twitter-user:hover {
	cursor:pointer;
}

.twitter-user:hover div {
	right: 0%;
	cursor: pointer;
}

/******************
Sponsor Manager
******************/

.admin-add-image {
	height: 125px;
	line-height: 125px;
	color: #666666;
	font-weight: 700;
	font-size: 2em;
	background:#dddddd;
}

.admin-add-image:hover {
	background: #cccccc;
	cursor: pointer;
}

.admin-sponsor-container button {
	font-weight:700;
}

.admin-sponsor-image-container {
	margin-top: 3em;
}



.admin-sponsor-image {
	position: relative;
	overflow: hidden;
	background: url(../images/admin/transparent-background.png);
	border-style: solid;
	border-width: 3px;
	border-radius: 2px;
	outline-color: #BBBBBB;
	outline-style: solid;
	outline-width: 1px;
	margin-bottom: 5px;
}

.admin-upload-image-caption {
	position:absolute;
	bottom: -35px;
	height: 35px;
	width: 100%;
	background: rgba(64,64,64,0.8);
	transition: bottom 0.3s;
	font-size: 1em;
	line-height: 35px;
}

.admin-sponsor-image:hover .admin-upload-image-caption {
	bottom: 0px;
	cursor: pointer;
}

.admin-sponsor-image .admin-upload-image-caption:hover {
	background: rgba(64,64,64,1);
}


/*************
Modal
*************/
.confirmation-modal {
	color: white;
	font-weight: 600;
	font-size: 1.5em;
	position: absolute;
	top: 40%;
	width: 50%;
	left: 25%;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.5s;
}

.modal-message p{
	position: relative;
	background: rgba(50,50,50,0.8);
	border-radius: 5px;
	display:inline-block;
	text-align:center;
	padding: 5px;
}




