/**************************
Navbar Style
**************************/
body {
	background: #34495e;
	color:white;
}
.navbar {
  border-radius: 0 !important;
  height: 5em;
}

.navbar-brand {
	color: white !important;
}

.navbar-default {
	background: rgb(2,125,70);
	border-color: rgb(2,125,70);
}

.main-image {
	padding: 0;
	margin-top: 5em;
}
.main-image img {
	width: 100%;
}

.nav-button {
	border-left: black !important;
	height:5em !important;
}

.nav-button:hover {
	transition: background 0.5s ease;
	background: rgb(245,245,1);
}

.nav-button a {
	top: 15%;
	height: 50%;
	color: white !important;
	font-size: 1.5em;
	font-weight: bold;
}
.navbar-toggle {
	background: #bdc3c7 !important;
	border-color: #bdc3c7 !important;
}


/************************************
Footer
************************************/

.footer {
	background: #7f8c8d;
	min-height: 5em;
}

.copyright {
	top:35%;
	height: 50%;
}

.social-icons {
	top: 10%;
}

.social-icons img {
	height: 4em;
	width: 4em;
}

.social-icons:hover {
	cursor: pointer;
	
}	