/**************************
Navbar Style
**************************/

html, body {
	height: 100%;
	cursor: default;
}



a:hover {
	text-decoration: none;
	color: white;
	transition: color .75s;
}


body {
	background: #ecf0f1;
	color:white;
	font-family:ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar {
  border-radius: 0 !important;
	text-align: center !important;
}


.active-page {
	color: white !important;
	font-family:ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center !important;
}

.nav-button {
	text-align: center !important;
}

.container-fluid {
	background: black;
}

.navbar-title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2.0em;
	font-style: italic;
	bottom: 0%;
	
}

.navbar-title p {
	display:inline;
	float:left;
	color: #f1c40f;
}

.navbar-title .team-title {
	color: white;
}

.navbar-brand {
	color: white !important;
}

.navbar-default {
	background: black;
	border-color: black;
}

.main-image {
	padding: 0px;
	margin-top: 3em;
	margin-bottom: 0px;
	max-height: 45em;
	perspective: 20px;
	-webkit-perspective:20px;
}
 .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
  

@media (max-width: 1100px) {

	.main-image .players {
		top: 25% !important;
		left: 6% !important;
		font-size: 1.5em !important;
	}
	
	.main-image .title {
		font-size: 3.2em !important;
	}
}

@media (max-width: 768px) {
	.main-image .title {
		opacity: 0;
	}
	
	.main-image .players {
		opacity: 0;
	}
	
  .parallax__layer--base {
    -webkit-transform: none;
    transform: none;
    z-index: 0;
  }

  .parallax__layer--back {
    -webkit-transform: none;
    transform: none;
    z-index: 0;
  }
   .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 0px;
    perspective: 0px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: none;
    transform-style: none;
	
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .main-image img {
	position: absolute;
	right: 0px;
	top: 0px;
  }

}

@media (max-width: 400px) {
	.main-image img {
		right: -150px;
	}
}



.main-image img {
	min-height: 100%;
	min-width: 100%;
	min-height: 100vh;
	min-width: 100vw;
}

.main-image {
	position: relative;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.main-image .title {
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 5em;

}

.main-image .players {
	position: absolute;
	top: 25%;
	left: 8%;
	font-size: 2em;
}

.active-page {
	background: rgb(245,245,1) !important;
}

.nav-button:hover {
	transition: background 0.5s ease;
	background: rgb(245,245,1);
}

.nav-button a {
	top: 15%;
	height: 100%;
	color: white !important;
	font-size: 1.5em;
	font-weight: bold;
}
.navbar-toggle {
	background: #bdc3c7 !important;
	border-color: #bdc3c7 !important;
}


.top-buffer {
	margin-top: 3em;
}

.bottom-buffer {
	margin-bottom:1.5em;
}

.top-buffer-small {
	margin-top: 1em;
}

.hidden-image {
	opacity: 0 !important;
	position: absolute !important;
	height: 1px;
	width: auto;
	z-index: -999 !important;
}



/***********************
Team Container
************************/
.team-header {
	padding-top: 3em;
}

.team-header h2 {
	font-style: default !important;
	font-weight: 400;
	font-size: 3em;
}

.caption {
	overflow: hidden;
}
.team-container {
	background: #7f8c8d;
	color: black;
}

.team-container .player img {
	width: 90%;
	margin-left: 5%;
}

.team-container .player-name {
	text-align: center;
}

.bio-team-description .position  h3{
	font-size: 1.5em;
}

.bio-team-description ul {
	   list-style-type: none;
	   padding-left:0;
}

.bio-team-description li:nth-child(odd) {
		color:#f1c40f;
}

.bio-team-description {
	overflow: hidden;
}


.team-container .position {
	text-align: center;
	font-size: 1.5em;
	font-style: normal;
}


.team-container .player-name p{
		display:inline;
}

.team-container .first-name{
	font-size:2em;
	bottom: 10%;
}
.team-container .last-name {
	font-size:2.5em;
	color: #f1c40f;
}

.team-image-container .image-wrapper > img {
	border-style: solid;
	border-width: 5px;
	border-color:#95a5a6;
}

.team-image-container img:hover {
	cursor: pointer;
}

.team-image-container .image-wrapper {
	position: relative;
}

.team-image-container .image-wrapper a {
	position: absolute;
	left: 5%;
	top: 0;
	height: 100%;
	width: 90%;
	z-index:9999;
}


.team-image-container .caption {
	position: absolute;
	left: 5%;
	top: 0%;
	width: 90%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s;
	background: #27ae60;
}

.team-image-container .caption-hover {
	position: absolute;
	left: 5%;
	top: 0%;
	width: 90%;
	height: 100%;
	z-index: 999;
	cursor: pointer;
}



.team-image-container .caption-text {
	font-size: 4em;
	font-weight: 500;
	top: 20%;
	opacity: 1;
}

.team-image-container .caption img {
	height: 60px !important;
	width: auto;
}

.player-social-icons {
	padding: 0px;
}


@media (min-width:768px) {
	.player-social-icons img {
		width: 90%;
		height: auto;
	}	
	.center-block {
		width: 100%;
	}	
}

@media (max-width:768px) {	
	.player-social-icons .center-block {
		width: 30%;
		margin-bottom: 1em;
	}	
}

.player {
	margin-top:4em;
}





/*****************
Sponsors Container
*****************/

.sponsor-container {
	background: #2c3e50;
}
/*************************************
News Container
*************************************/
.news-container {
	border-radius: 5px;
	color: #404040;
	padding-bottom:4em;
	background: #ecf0f1;
}

.blog-line {
	color: #95a5a6;
}

.blog-header h2{
	color: black;
}


.news-container img {
	float:right;
	max-width: 100%;
}

@media (min-width: 700px) {
	.news-container {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 700px) {
	.news-container {
		padding-left: 0%;
		padding-right: 0%;
	}
}

.news-container  .news-container-header{
	color: #5C5C5C;
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.news-container .news-entry-title {
	color: #005C00;
	font-size: 2em;
}

.news-container .news-entry-date {
	color: #003300;	
	font-style: italic;
}

.news-entry-link {
	float:right;
	font-style: default;
}



.news-container .news-entry-text {
	color: #5C5C5C;
}

/*******************************
Videos
********************************/

.videos-container {
	background: #34495e;
	padding-top: 2em;
	padding-bottom: 2em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom:2em;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**********************************
Sponsor
***********************************/
.sponsor-container {
	padding-top: 2em;
	background: white;
	color: black;
}
.sponsor-images-container {
	position: relative;
	padding-bottom: 1em;
}

.sponsor-image-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
}

.sponsor-image {
	position: absolute;
	width: 100%;
	height: 100%
}

.sponsor-image img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/************************************
Footer
************************************/
.wrapper {
	min-height: 100%;
	margin: 0 auto -5em;
}
.footer {
	background: #4C4C4C;
	min-height: 5em;
	margin-bottom: 0px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.copyright {
	top:35%;
	height: 50%;
}

.social-icons {
	top: 10%;
}

.social-icons img {
	height: 4em;
	width: auto;
}

.social-icons:hover {
	cursor: pointer;
	
}	


/*******************
Gallery
*********************/

.gallery {
	padding-bottom: 5em;
}


/********************
Bios
*********************/

.bio-container {
	margin-top: 0em;
	padding: 0px !important;
}

.bio-container h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
	margin-top: 0px !important;
}

.bio-container .bio-header {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../images/team-bio.jpg);
	min-height: 25em;
	background-size: cover !important;
}

@media (max-width: 768px) {
	.bio-container .bio-header {
		background: #27ae60;
	}
}



.bio-title {
	position: absolute;
	top: 30%;
	width: 100% !important;
}

.bio-container h1{
	font-size:10em;
}

.bio-container h2 {
	font-size: 6em;
	margin-top: 0px !important;
}

.bio-team-description h2 {
	color: white;
}

@media (max-width: 768px) {
	.bio-container h1 {
		font-size: 6em;
	}
	
	.bio-container h2 {
		font-size: 5em;
	}
}

@media (max-width: 768px) {
	.bio-container h1 {
		font-size: 3.5em;
	}
	.bio-container h2 {
		font-size: 2em;
	}
	.bio-title {
		top: 50%;
	}
	.bio-team-description-first .text {
		font-size: 1.5em;
	}
	.bio-team-description h2 {
		font-size: 3em;
	}
	
	.bio-team-description {
		min-height: 190em;
	}
}

@media (min-width: 768px) {
	.bio-title h1 {
		font-size: 10em;
	}
	.bio-team-description-first .text {
		font-size:2em;
	}
}

.bio-team-names p {
	display:inline;
}


.bio-container .team-bio{
	position: relative;
	background-position: top-center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
	padding: 0px;
}

@media (min-width: 768px) {
	.bio-container .team-bio{
		background-attachment: fixed;
	}
}

.bio-team-description-first {
	padding-top: 5em;
	padding-bottom: 5em;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif !important;
	background: white;
	color: black;
	min-height: 35em;
}

.bio-team-description-first-title {
	margin-bottom:4em;
}

.bio-team-description-first-title h2 {
	color: black !important;
}



.bio-team-description-first .text {
	background: white;
	line-height: 2em;
	color: #404040;
	font-weight: 200;
}

.bio-team-description {
	background: #1e7145;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 3em;
	padding-bottom:3em;
	margin-top: 0px !important;
}

.bio-team-description .bio-image-wrapper {
	overflow: hidden;
	height: 16em;
	width: 16em;
	border-radius: 8em;
	background: white;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-top: 1em;
}

.bio-team-description .bio-image-wrapper img {
	width: auto;
	height: 120%;
	cursor: pointer;
}


.bio-container .team-bio {
	max-height: 700px;
}

.bio-container .team-bio img {
	width: 100%;
	opacity: 0;
	
}

.player-bio-text {
	background: #2c3e50;
}

.player-bio-text-title {
	font-size: 4em;
	padding: 0px;
}

@media (max-width: 700px) {
	.player-bio-text-title {
		font-size: 2.5em;
	}
}
.player-bio-text-title p {
	display: inline;
	color: #27ae60;
}

.tom-bio {
	background:  	url(../images/bios/tom-background.jpg);
}

.brendan-bio {
	background:  	url(../images/bios/brendan-background.jpg);
}
.brad-bio {
	background: 	url(../images/bios/brad-background.jpg);
}
.karrick-bio {
		background:	url(../images/bios/karrick-background.jpg);
}
.rob-bio {
		background:	url(../images/bios/rob-background.jpg);
}

.karrick-text {
	position: absolute;
	left: 5%;
	top: 10%;
	color: white;	
}

.rob-text {
	position: absolute;
	right: 5%;
	top: 10%;
	color: white;	
}

.brendan-text {
	position: absolute;
	left: 5%;
	top: 10%;
	color: white;	
}

.tom-text {
	position: absolute;
	left: 5%;
	top: 10%;
	color: white;	
}

.brad-text {
	position: absolute;
	right: 5%;
	top: 10%;
	color: white;	
}

.player-bio h2 {
	color: white !important;
	line-height: 2em;
}

.player-bio h3 {
	color: white !important;
	line-height: 2em;
	font-size: 2.2vw;
}

.player-bio h2 {
	font-size: 4vw;
}

.player-bio .name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;	
}	

.player-bio {
	opacity: 0;
	transition: opacity 2s;
}



	.col-lg-5ths  .name{
		opacity: 0;
		height: 0em;
	}
	.col-lg-5ths  .position{
		opacity: 0;
		height: 0em;
	}

@media (max-width: 768px) {
	.bio-slider-container-container {
		height: 0em !important;
	}
	.tom-bio {
		background:  	none !important;
	}

	.brendan-bio {
		background:  	none !important;
	}
	.brad-bio {
		background:  	none !important;
	}
	.karrick-bio {
	background:  	none !important;
	}
	.rob-bio {
			background:  	none !important;
	}
	
	.col-lg-5ths  .name{
		opacity: 1;
		height: auto;
	}
	.col-lg-5ths  .position{
		opacity: 1;
		height: auto;

	}
	.col-lg-5ths h3 {
		color: white;
		line-height: 1.5em;
	}
	
}

.bio-slider-container-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
	padding: 0;
}

.bio-slider-container {
	width: 500%;
	margin-left: -200%;
	transition: margin-left 2s;
}


.bio-slider-container img {
	display: inline;
	float: left;
	width: 20%;
	position:relative;
}

/***********************************
Contact Us
************************************/
.contact .send-button {
	background: #2cc36b;
	border-color: #2cc36b;
}
.contact .send-button:hover {
	background: #2ecc71;
	border-color: #2ecc71;
}

.contact .send-button:focus {
	background: #2cc36b !important;
	border-color: #2cc36b !important;
}
	
.contact-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
}

.contact-icon {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
	margin-top: .5em;
}


.contact-icon img {
	width: 10%;
}


@media (min-width: 768px) {
	.contact-icons-container {
	margin-top: 8em;
	}
}

@media (max-width: 768px) {
	.contact-icons-container {
	margin-top: 0em;
	}
}

/*********************************
Modal
**********************************/
.modal-title {
	color: black !important;
}

.modal-image {
	position: absolute;
	height: 85%;
	width: 90%;
	z-index: -1;
	top: 10%;
	left: 5%;
	opacity: 0;
}

.modal-image-wrapper {
	position:relative;
}

.modal-image img {
	max-height: 100%;
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: black;
	border-radius: 5px;
}

.close-modal{
	position: absolute !important;
	right: 0% !important;
	top: 0% !important;
	z-index: 999;
}

/***********************************
Blog
***********************************/
.blog-container {
	color:black;
}
.blog-container h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
	margin-top: 0px !important;
	margin-bottom:0px !important;
	margin-right: 0px !important;
}

.blog-container h1{
	font-size:7em;
}

.blog-container h2 {
	font-size: 6em;
	margin-top: 0px !important;
}

.blog-container h3 {
	font-size: 2em;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}

.blog-entry-text-text {
	color: #666666;
	font-size: 1.2em;
}


.blog-entry .month-year, .day {
	text-align: left;
}


/***************************
Bootstrap 5ths
*****************************/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


