/**************************
Navbar Style
**************************/

html, body {
	height: 100%;
	cursor: default;
}


body {
	background: #ecf0f1;
	color:white;
	font-family:ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar {
  border-radius: 0 !important;
	text-align: center !important;
}


.active-page {
	color: white !important;
	font-family:ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center !important;
}

.nav-button {
	text-align: center !important;
}

.container-fluid {
	background: black;
}

.navbar-title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2.0em;
	font-style: italic;
	bottom: 0%;
	
}

.navbar-title p {
	display:inline;
	float:left;
	color: #f1c40f;
}

.navbar-title .team-title {
	color: white;
}

.navbar-brand {
	color: white !important;
}

.navbar-default {
	background: black;
	border-color: black;
}

.main-image {
	padding: 0px;
	margin-top: 3em;
	margin-bottom: 0px;
	max-height: 45em;
}

@media (max-width: 1100px) {
	.main-image{
		max-height: 30em;
	}
}

@media (max-width: 900px) {
	.main-image{
		max-height: 25em;
	}
}

@media (max-width: 700px) {
	.main-image{
		max-height: 20em;
	}
}

@media (max-width: 400px) {
	.main-image{
		max-height: 10em;
	}
}


.main-image img {
	width: 100%;
}

.active-page {
	background: rgb(245,245,1) !important;
}

.nav-button:hover {
	transition: background 0.5s ease;
	background: rgb(245,245,1);
}

.nav-button a {
	top: 15%;
	height: 100%;
	color: white !important;
	font-size: 1.5em;
	font-weight: bold;
}
.navbar-toggle {
	background: #bdc3c7 !important;
	border-color: #bdc3c7 !important;
}


.top-buffer {
	margin-top: 3em;
}

.bottom-buffer {
	margin-bottom:1.5em;
}

.top-buffer-small {
	margin-top: 1em;
}


/*******************
Slider
********************/
@-webkit-keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
20% { left: -100%; }
35% { left: -100%; }
40% { left: -200%; }
60% { left: -200%; }
65% { left: -300%; }
85% { left: -300%; }
90% { left: -400%; }
100% { left: -400%; }
}

@-webkit-keyframes circle-one {
0% { background: white; }
15% { background: white; }
20% { background: black; }
100% { background: black; }
}

@-webkit-keyframes circle-two {
0% { background: black; }
15% { background: black; }
20% { background: white; }
35% { background: white; }
40% { background: black; }
100% { background: black; }
}
@-webkit-keyframes circle-three {
0% { background: black; }
35% { background: black; }
40% { background: white; }
60% { background: white; }
65% { background: black; }
100% { background: black; }
}
@-webkit-keyframes circle-four {
0% { background: black; }
60% { background: black; }
65% { background: white; }
85% { background: white; }
90% { background: black; }
100% { background: black; }
}
@-webkit-keyframes circle-five {
0% { background: black; }
85% { background: black; }
90% { background: white; }
95% { background: white; }
100% { background: black; }
}





@keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
20% { left: -100%; }
40% { left: -100%; }
45% { left: -200%; }
65% { left: -200%; }
70% { left: -300%; }
90% { left: -300%; }
95% { left: -400%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
  -webkit-animation: 30s slidy infinite;
}

#slider .circle {
	position: absolute;
	top: 94%;
	height: 1em;
	width: 1em;
	border-radius: .5em;
	background: black;
	opacity: 0.8;
}

@media (max-width: 900px) {
	#slider .circle {
		height: 0.7em;
		width: 0.7em;
		border-radius: 0.35em;
	}
}

@media (max-width: 700px) {
	#slider .circle {
		height: 0.5em;
		width: 0.5em;
		border-radius: 0.25em;
	}
}

@media (max-width: 500px) {
	#slider .circle {
		height: 0.3em;
		width: 0.3em;
		border-radius: 0.15em;
	}
}

#slider .one {
	left: 46%;
	animation: 30s circle-one infinite; 
	-webkit-animation: 30s circle-one infinite;
}
#slider .two {
	left: 48%;
	animation: 30s circle-two infinite; 
	-webkit-animation: 30s circle-two infinite;
}
#slider .three {
	left: 50%;
		animation: 30s circle-three infinite; 
	-webkit-animation: 30s circle-three infinite;
}
#slider .four {
	left: 52%;
		animation: 30s circle-four infinite; 
	-webkit-animation: 30s circle-four infinite;
}
#slider .five {
	left: 54%;
		animation: 30s circle-five infinite; 
	-webkit-animation: 30s circle-five infinite;
}



/***********************
Team Container
************************/
.team-header {
	padding-top: 3em;
}

.team-header h2 {
	font-style: default !important;
	font-weight: 900;
	font-size: 4em;
}

.caption {
	overflow: hidden;
}
.team-container {
	background: #7f8c8d;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	font-style: italic;
}

.team-container .player img {
	width: 90%;
	margin-left: 5%;
}

.team-container .player-name {
	text-align: center;
}

.team-container .position {
	text-align: center;
	font-size: 1.5em;
	font-style: normal;
}


.team-container .player-name p{
		display:inline;
}

.team-container .first-name{
	font-size:2em;
	bottom: 10%;
}
.team-container .last-name {
	font-size:2.5em;
	color: #f1c40f;
}

.team-image-container img {
	border-radius: 3px;
}

.team-image-container img:hover {
	cursor: pointer;
}

.team-image-container .image-wrapper {
	position: relative;
}

.team-image-container .caption {
	position: absolute;
	left: 5%;
	top: 0%;
	width: 90%;
	height: 0%;
	transition: height 0.5s;
	background: #27ae60;
}

.team-image-container .caption-hover {
	position: absolute;
	left: 5%;
	top: 0%;
	width: 90%;
	height: 100%;
	z-index: 999;
	cursor: pointer;
}



.team-image-container .caption-text {
	font-size: 4em;
	font-weight: 500;
	top: 20%;
	opacity: 0;
}

.team-image-container .caption img {
	height: 20%;
	width: auto;
}

.player-social-icons {
	padding: 0px;
}


@media (min-width:700px) {
	.player-social-icons img {
		width: 90%;
		height: auto;
	}	
	.center-block {
		width: 100%;
	}	
}

@media (max-width:700px) {	
	.center-block {
		width: 50%;
	}
}

.player {
	margin-top:4em;
}



/*****************
Sponsors Container
*****************/

.sponsor-container {
	background: #2c3e50;
}
/*************************************
News Container
*************************************/
.news-container {
	border-radius: 5px;
	color: #404040;
	padding-bottom:4em;
}

.blog-line {
	color: #95a5a6;
}

.blog-header h2{
	color: black;
}


.news-container img {
	float:right;
	max-width: 100%;
}

@media (min-width: 700px) {
	.news-container {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 700px) {
	.news-container {
		padding-left: 0%;
		padding-right: 0%;
	}
}

.news-container  .news-container-header{
	color: #5C5C5C;
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.news-container .news-entry-title {
	color: #005C00;
	font-size: 2em;
}

.news-container .news-entry-date {
	color: #003300;	
	font-style: italic;
}

.news-entry-link {
	float:right;
	font-style: default;
}



.news-container .news-entry-text {
	color: #5C5C5C;
}

/*******************************
Videos
********************************/

.videos-container {
	background: #34495e;
	padding-top: 2em;
	padding-bottom: 2em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**********************************
Sponsor
***********************************/
.sponsor-container {
	background: white;
	color: black;
}
.sponsor-images-container {
	position: relative;
	padding-bottom: 1em;
}

.sponsor-image-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
}

.sponsor-image {
	position: absolute;
	width: 100%;
	height: 100%
}

.sponsor-image img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/************************************
Footer
************************************/
.wrapper {
	min-height: 100%;
	margin: 0 auto -5em;
}
.footer {
	background: #7f8c8d;
	min-height: 5em;
	margin-bottom: 0px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.copyright {
	top:35%;
	height: 50%;
}

.social-icons {
	top: 10%;
}

.social-icons img {
	height: 4em;
	width: auto;
}

.social-icons:hover {
	cursor: pointer;
	
}	





/********************
Bios
*********************/

.bio-container {
	margin-top: 0em;
	padding: 0px !important;
}

.bio-container h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
	margin-top: 0px !important;
}

.bio-container .bio-header {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../images/team-bio.jpg);
}

.bio-title {
	position: absolute;
	top: 30%;
	width: 100% !important;
}

.bio-container h1{
	font-size:10em;
}

.bio-container h2 {
	font-size: 6em;
	margin-top: 0px !important;
}

.bio-team-description h2 {
	color: white;
}

@media (max-width: 768px) {
	.bio-container h1 {
		font-size: 6em;
	}
	
	.bio-container h2 {
		font-size: 5em;
	}
}

@media (max-width: 768px) {
	.bio-container h1 {
		font-size: 3.5em;
	}
	.bio-container h2 {
		font-size: 2em;
	}
	.bio-title {
		top: 50%;
	}
	.bio-team-description-first .text {
		font-size: 1.5em;
	}
	.bio-team-description h2 {
		font-size: 3em;
	}
	
	.bio-team-description {
		min-height: 105em;
	}
}

@media (min-width: 768px) {
	.bio-title h1 {
		font-size: 10em;
	}
	.bio-team-description-first .text {
		font-size:2em;
	}
}

.bio-team-names p {
	display:inline;
}

.bio-container .player-bio{
	position: relative;
	background-position: top-center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
	padding: 0px;
}

.bio-container .team-bio{
	position: relative;
	background-position: top-center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
	padding: 0px;
}

@media (min-width: 768px) {
	.bio-container .player-bio{
		background-attachment: fixed;
	}
	.bio-container .team-bio{
		background-attachment: fixed;
	}
}

.bio-team-description-first {
	padding-top: 5em;
	padding-bottom: 5em;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif !important;
	background: white;
	color: black;
	min-height: 35em;
}

.bio-team-description-first-title {
	margin-bottom:4em;
}

.bio-team-description-first-title h2 {
	color: black !important;
}



.bio-team-description-first .text {
	background: white;
	line-height: 2em;
	color: #404040;
	font-weight: 200;
}

.bio-team-description {
	background: #1e7145;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 3em;
	padding-bottom:3em;
	margin-top: 0px !important;
}

.bio-team-description .bio-image-wrapper {
	overflow: hidden;
	height: 16em;
	width: 16em;
	border-radius: 8em;
	background: white;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-top: 1em;
}

.bio-team-description .bio-image-wrapper img {
	width: auto;
	height: 120%;
	cursor: pointer;
}

.bio-container .player-bio img {
	width: 100%;
	opacity: 0;
	max-height: 700px;
}

.bio-container .player-bio {
	max-height: 700px;
}

.bio-container .team-bio {
	max-height: 700px;
}

.bio-container .team-bio img {
	width: 100%;
	opacity: 0;
	
}

.player-bio-text {
	background: #2c3e50;
}

.player-bio-text-title {
	font-family: Impact, Charcoal, sans-serif;
	font-style: italic;
	font-size: 4em;
	padding: 0px;
}

@media (max-width: 700px) {
	.player-bio-text-title {
		font-size: 2.5em;
	}
}
.player-bio-text-title p {
	display: inline;
	color: #27ae60;
}

.tom-bio {
	background:  	url(../images/bios/tom-background.jpg);
}

.brendan-bio {
	background:  	url(../images/bios/brendan-background.jpg);
}
.brad-bio {
	background: 	url(../images/bios/brad-background.jpg);
}
.karrick-bio {
		background:	url(../images/bios/karrick-background.jpg);
}
.rob-bio {
		background:	url(../images/bios/rob-background.jpg);
}

.karrick-text {
	position: absolute;
	right: 5%;
	top: 10%;
	color: white;	
}

.rob-text {
	position: absolute;
	right: 5%;
	top: 10%;
	color: white;	
}

.brendan-text {
	position: absolute;
	left: 5%;
	top: 10%;
	color: white;	
}

.player-bio h2 {
	color: white !important;
	line-height: 2em;
}

.player-bio h3 {
	color: white !important;
	line-height: 2em;
}

.player-bio h2 {
	font-size: 4em;
}

.player-bio .name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;	
}	

.player-bio {
	max-height: 40em;
}

/***********************************
Contact Us
************************************/
.contact-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
}

.contact-icon {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
}


.contact-icon img {
	width: 10%;
}


@media (min-width: 768px) {
	.contact-icons-container {
	margin-top: 8em;
	}
}

@media (max-width: 768px) {
	.contact-icons-container {
	margin-top: 0em;
	}
}

/*********************************
Modal
**********************************/
.modal-title {
	color: black !important;
}

.modal-image {
	position: absolute;
	height: 85%;
	width: 90%;
	z-index: -1;
	top: 10%;
	left: 5%;
	opacity: 0;
}

.modal-image-wrapper {
	position:relative;
}

.modal-image img {
	max-height: 100%;
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: black;
	border-radius: 5px;
}

.close-modal{
	position: absolute !important;
	right: 0% !important;
	top: 0% !important;
	z-index: 999;
}

/***********************************
Blog
***********************************/
.blog-container {
	color:black;
}
.blog-container h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: black;
	margin-top: 0px !important;
	margin-bottom:0px !important;
	margin-right: 0px !important;
}

.blog-container h1{
	font-size:7em;
}

.blog-container h2 {
	font-size: 6em;
	margin-top: 0px !important;
}

.blog-container h3 {
	font-size: 2em;
	margin-top: 0.5em !important;
}

.blog-entry-text-text {
	color: #666666;
}


/***************************
Bootstrap 5ths
*****************************/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


